/* start */
body {
    font-family: Roboto,sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header, footer, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
}

header {
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    margin-left: 25px;
}

nav {
    margin-right: 50px;
    flex: 1;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

/* Hero */
.hero {
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero h1 {
    margin-bottom: -15px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text {
    margin-right: 100px;
    max-width: 600px;
    text-align: left;
    flex: 1;
}

#subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-image {
    background-color: rgb(111, 115, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: 150px;
    font-size: 10px;
    flex: 1;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Info */
.info {
    padding: 50px;
}

.info h2 {
    margin-bottom: 40px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Quote */
.quote {
    background-color: #E5E7EB;
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.quote div {
    text-align: left;
}

.quote-area {
    flex: auto;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    text-align: left;
    max-width: 700px;
}

#author {
    display: flex;
    font-size: 18px;
}

#author p {
    margin-left: auto;
}

/* Call to Action */
.call {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-text {
    background-color: #3882F6;
    padding: 20px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    text-align: left;
    border-radius: 10px;
    width: 800px;
}

.call button {
    border: 1px solid white;
    margin-left: 100px;
}

/* Footer */
footer p {
    color: #F9FAF8;
    flex: auto;
    text-align: center;
}